body{
    background: linear-gradient(to bottom right,#0072ff,#00c6ff) ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color:black;
    overflow-x: hidden;
}
.cover{
    background: linear-gradient(to bottom right,#0072ff,#00c6ff) ;  
    background-clip: border-box;
    background-position-x: right;
    background-size: cover;  
    height: 720px;
    width: 500px;
    background-image:url(bg\ image.jpg) ;
    position: relative;
    left: 500px;
}
.main{
    margin: auto;
    border: solid 6px rgb(49, 44, 59);
    height: 710px;}
.title{
    font-size: 12px;
    font-weight: 800;
    position: relative;
    top: 20px;
    left: 10px;
    width: 140px;
}
.content{
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 40px;
    
}
.subtitle{
    position: relative;
    left: 10px;
    font-size:18px;
    
}
.image{
    width: 150px; 
    height:200px;      
    position: relative;
    top: 70px;
    left:300px;
    border-radius: 10%;
    border: solid 6px black;
    overflow: hidden;   
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edition{
    position: relative;
    top: 20px;
    left: 1px;
    font-weight: bolder;
}
.author{
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: 45px;
    left:20px;
    font-size: 18px;
}
.sub-bottom{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom:5px;
    left:280px;
    font-size: 15px;
}   
.name{
    text-align: center;
    position: relative;
    right:20px;
    color: purple
}
.footer{
    position:relative;
    top:60px;
}
.main-content{
    position:relative;
    left:200px;
}